<mat-card layout-fill>
    <mat-card-title>
        {{ 'common.sign-in' | translate}}
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="signInForm" method="POST">
            <mat-form-field appearance="outline">
                <mat-label>{{ 'common.email' | translate}}</mat-label>
                <input matInput type="email" formControlName="email" placeholder="{{ 'common.email' | translate}}"
                    autocomplete="email" required email />
                <mat-error *ngIf="signInForm.hasError('required', 'email')">
                    {{ 'errors.email-required' | translate}}
                </mat-error>
                <mat-error *ngIf="signInForm.hasError('email', 'email')">
                    {{ 'errors.email-invalid' | translate}}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>{{ 'common.password' | translate}}</mat-label>
                <input matInput type="password" formControlName="password"
                    placeholder="{{ 'common.password' | translate}}" autocomplete="new-password" required />
                <mat-error *ngIf="signInForm.hasError('required', 'password')">
                    {{ 'errors.password-required' | translate}}
                </mat-error>
                <mat-error *ngIf="signInForm.controls.password.hasError('minlength')">
                    {{ 'errors.password-min-length' | translate}}
                </mat-error>
            </mat-form-field>

            <mat-chip-list>
                <mat-chip color="primary" routerLink="../signup">{{ 'common.create-account' | translate}}</mat-chip>
            </mat-chip-list>

        </form>
    </mat-card-content>
    <mat-error *ngIf="signInForm.hasError('backendError')" class="backend-error">
        <mat-icon>error</mat-icon>
        <span>{{this.backendErrorMessage}}</span>
    </mat-error>
    <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]=signInForm.invalid type="button"
            (click)="signIn()">{{ 'common.sign-in' | translate}}</button>
    </mat-card-actions>
</mat-card>