main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 32px;
}
mat-form-field {
  width: 90%;
}

table,
.full-width {
  width: 100%;
}
.button-wrapper {
  position: fixed;
  width: 100%;
  bottom: 0;
  margin: 1.25rem 0;
  text-align: center;
}
.notDisplay {
  position: absolute;
  top: -100000px;
  visibility: hidden;
}
.full-width {
  display: flex;
  justify-content: center;
}
.no-assets-info {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.action-buttons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
th.mat-header-cell,
td.mat-cell {
  text-align: center;
}
.no-display {
  display: none;
}
::ng-deep .mat-sort-header-container {
  justify-content: center;
}