:host {
    flex: 1;
}
mat-card {
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: calc(100vh - 56px);
    box-sizing: border-box;
}
mat-card form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
mat-card-actions{
    width: 100vw;
    position: relative;
    top: 8px;
    button {
        width: 100%;
        border-radius: 0;
    }
}
